.left {
	width: 25%;
	background-color: #000000;
	height: 100vh;
	display: inline-block;

}
.left img {
	width: 75%;
	padding-top: 13%;
	padding-left: 30px;
	margin-left: auto;
	margin-right: auto;
}
.left h3 {
	font-family:Noto Sans, sans-serif;
	color: #ffffff;
	padding-left: 95px;
	margin-left: auto;
	margin-right: auto;

}
.left nav {
	padding-top: 50%;
	padding-left: 6.75%;
}
.left nav img {
	display: inline-block;
	width: 7%;
	height: 20px;
	margin-right:3%; 
}
.left nav img.lglogo {
	width: 10%;
	height: 30px;
}
/*right side*/
.right {
	background-image:url("images/xyzlogo.png"); 
	background-color: #eeeeee;
	width: 74.5%;
	height: 100vh;
	display: inline-block;
	float: right;
}
.right label{
	display: block;
	font-family:Gill Sans, sans-serif ;
	font-size: large;
    padding-bottom: 10px;
    padding-top: 10px;
}
.right input[type=name] {
  padding: 10px;
  width: 70%;
  border: none;
  border-bottom:  2px solid #000000;
  background-color: #f7f7f7;
}
.right input[type=password] {
  padding: 10px;
  width: 70%;	
  border: none;
  border-bottom: 2px solid #000000;
  background-color: #f7f7f7;
}
.right input[type=name]:focus {
	background-color: #f0f0f0;
	border-bottom: 2px solid #000000;
}
.right input[type=password]:focus {
	background-color: #f0f0f0;
	border-bottom: 2px solid #000000;
}
div.loginsection {
	padding-top: 100px;
}
div.form
{
    display: block;
    text-align: center;
}
form
{  
	width: 400px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.right h3 {
	padding-left: -10px;
	padding-bottom: 10px;
	font-family: Noto Sans, sans-serif;
}
span {
	padding: 7px;
	border: 1px solid #000000;
	border-radius: 3px;
	background-color:  #000000;
	color: #ffffff;
}
.right a {
	display: inline-block;
	padding: 50px 0px 0px 250px;
	color: #323232;
	text-decoration: none;
	font-family: Noto Sans, sans-serif;
}
.right button {
	display: inline-block;
	padding: 10px;
	margin-left: 23%;
	border-radius: 5px;
	background-color: #323232;
	color: #ffffff;
	font-family: Noto Sans, sans-serif;
}
.right button:hover {
	background-color: #000000;
	color: #ffffff;
}
hr {
    width:90%;
    margin:0 auto;
}
nav.diffloginways #Google {
	display: block;
	margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 30%;
    padding-left: 100px;
    padding-right: 100px;  
	background-color: white;
    color: #e71414;
    border: 1px solid #e71414;
}
nav.diffloginways #Facebook {
	display: block;
    margin-left: 30%;
    padding-left: 100px;
    padding-right: 85px;  
	background-color: white;
    color: #142850;
    border: 1px solid #142850;

}
nav.diffloginways #Google:hover {
	color: #ffffff;
	background-color: #e71414;
}
nav.diffloginways #Facebook:hover {
	color: #ffffff;
	background-color: #142850;
}
